* {
    padding: 0;
    margin: 0;
}

html,
body {
    overflow-x: hidden;
}

body {
    background: #f5f5f5;
    font-family: "Source Sans Pro", Arial, sans-serif;
    letter-spacing: 5px;
    font-size: 1.8rem;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#root > div {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    position: relative;
}

::-webkit-scrollbar {
    height: 3px;
    width: 3px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #4d90fe;
}
::-webkit-scrollbar-thumb:hover {
    background: #307cf9;
}
